body
{
	background-image:url('title2.jpg'), url('bck2.jpg'), url('bck.jpg');
	background-repeat:no-repeat, no-repeat, no-repeat;
	background-attachment: , fixed, fixed;
	background-position:300px 40px, 150px 0px, 0px 0px;
	border:0;
	padding:0;
	margin:0;
}
.page-wrapper
{
	margin:150px 800px 0px 175px;
}
.summary
{
	
}
h3:before
{
	content: url('svirgolata.gif');
}
.sidebar{
	margin:0px 0px 0px 450px;
	padding:0px;
	
}

.sidebar li {
	
	
}